<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <input type="number" max="999999999999999" (change)="convertToEnglish()" [(ngModel)]="numberInput">

  <h1>{{numberOutput}}</h1>
</div>
